name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  ARTIFACT_NAME: "linux-clang-16.zip"
  CLANG_VERSION: 16

jobs:
  check_ark:
    name: ArkScript formatting check
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          path: std-master

      - run: rm -rf std-master/tests

      - name: Format check
        uses: ArkScript-lang/action-format@master
        with:
          folder: std-master

  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout std
        uses: actions/checkout@v4

      - uses: robinraju/release-downloader@v1.9
        with:
          latest: true
          preRelease: false
          repository: ArkScript-lang/Ark
          fileName: ${{ env.ARTIFACT_NAME }}

      - name: Set up files
        shell: bash
        run: |
          unzip $ARTIFACT_NAME
          chmod u+x arkscript *.so lib/*.arkm
          cp lib/*.arkm ./

      - name: Update LLVM compilers
        shell: bash
        run: |
          sudo apt-get install -y clang-${CLANG_VERSION} lld-${CLANG_VERSION} \
            libc++-${CLANG_VERSION}-dev libc++abi-${CLANG_VERSION}-dev \
            clang-tools-${CLANG_VERSION}

      - name: Tests
        shell: bash
        run: |
          ./arkscript --version
          mkdir -p std && mv *.ark std/
          ./arkscript --lib ./ tests/all.ark

  update-docs:
    runs-on: ubuntu-24.04
    name: "Update website documentation"
    needs: [ build ]

    steps:
      - name: Create repository dispatch event
        if: github.ref == 'refs/heads/master'
        env:
          GITHUB_TOKEN: ${{ secrets.READONLY_GITHUB_TOKEN }}
        run: |
          gh api repos/ArkScript-lang/website/dispatches --raw-field event_type=my_update_docs
